.subscribe-subscribe {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 64px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 64px;
  justify-content: space-between;
}
.subscribe-text {
  color: rgb(255, 255, 255);
  font-size: 300%;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 0.2em;
}
.subscribe-text1 {
  color: #ffffff;
  font-size: 100%;
  margin-top: 0px;
  text-align: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.subscribe-container {
  width: 50%;
  opacity: 100%;
}
.subscribe-container1 {
  display: contents;
}








@media(max-width: 1200px) {
  .subscribe-text1 {
    text-align: center;
  }
}
@media(max-width: 991px) {
  .subscribe-container {
    width: 70%;
  }
}
@media(max-width: 767px) {
  .subscribe-subscribe {
    padding-left: 32px;
    padding-right: 32px;
  }
  .subscribe-text {
    font-size: 220%;
  }
  .subscribe-container {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .subscribe-subscribe {
    padding-top: 48px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 48px;
  }
  .subscribe-text1 {
    text-align: center;
  }
  .subscribe-container {
    width: 90%;
  }
}
