.subscribe-subscribe {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 64px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 64px;
  justify-content: space-between;
}
.subscribe-text {
  color: rgb(255, 255, 255);
  font-size: 300%;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 0.2em;
}
.subscribe-text1 {
  color: #ffffff;
  font-size: 100%;
  margin-top: 0px;
  text-align: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.subscribe-form {
  width: 50%;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.subscribe-name {
  width: 100%;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-500);
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.subscribe-email {
  width: 100%;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-500);
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.subscribe-button {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-black);
}
.subscribe-button:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.60);
}





@media(max-width: 1200px) {
  .subscribe-text1 {
    text-align: center;
  }
}
@media(max-width: 991px) {
  .subscribe-form {
    width: 70%;
  }
}
@media(max-width: 767px) {
  .subscribe-subscribe {
    padding-left: 32px;
    padding-right: 32px;
  }
  .subscribe-text {
    font-size: 220%;
  }
  .subscribe-form {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .subscribe-subscribe {
    padding-top: 48px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 48px;
  }
  .subscribe-text1 {
    text-align: center;
  }
  .subscribe-form {
    width: 90%;
  }
  .subscribe-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
